@media(max-width:1024px){
    .card_etapas{
        height: 130px;
    }
}

@media(max-width:768px){

    .texto_init{
        width: 75%;
    }

    #container_etapas{
        flex-direction: column;
    }

    .card_etapas{
        height: 135px;
        font-size: 14px;
    }

    .container_modelos{
        flex-direction: column;
    }

    .card_modelo{
        margin-top: 30px;
    }
}


@media(max-width:426px){
    h1{
        font-size: 20px;
        text-align: center;
    }

    .texto_init{
        width: 80%;
        font-size: 15px;
        text-align: center;
    }
    .container_a_txt{
        align-items: center;
        justify-content: center;
    }

    #section_inicial{
        padding-left: 0px;
    }
    
    .card_etapas{
        height: fit-content;
        text-align: center;
    }
} 
