html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

#section_inicial{
  background-image: url(../imagens/Fundo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

h1{
  font-size: 30px;
  margin-bottom: 50px;
}

#container_info_init{
  display: flex;
}


.texto_init{
  width: 50%;
  font-size: 20px;
  margin: 10px;
}

a{
  background-color: #7A858C;
  color: rgba(255, 255, 255, 0.653);
  font-size: 16px;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}

a:hover{
  transform: scale(1.1);
}

.container_a_txt{
  display: flex;
  flex-direction: column;
}

.titulo{
  font-size: 25px;
  color: #041A28;
  text-align: center;
  margin-bottom: 30px;
}

#container_etapas{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card_etapas{
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  height: 110px;
}

.card_etapas_titulo{
  color: #041A28;
  font-weight: bold;
}

.card_etapas_texto{
  color: rgba(0, 0, 0, 0.444);
  text-align: center;
}

.container_card_etapas{
  width: 50%;
}

#section_etapas{
  padding-top: 50px;
  padding-bottom: 50px;
}

#section_modelos{
  background-color: #041A28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.titulo_modelos{
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.container_modelos{
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 40px;
}

.subtitulo_modelo{
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.descricao_modelo{
  text-align: justify;
  color: #ffffff7a;
  width: 80%;
}

.card_modelo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section_video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
}

.div_frame_video{

  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectio_videotxt{
  text-align: center;
}